# PDF Reader

In [1]:
#imports
from __future__ import division
import math
import pandas as pd
import tabula

In [27]:
path = './data/dataTable.pdf'
df = tabula.read_pdf(path,  spreadsheet=True, area=[292, 35, 291+362, 519+35],pandas_options={"he"})
print(df)

  2”-21/4”                           2.35 - 2.63\r2.62 - 2.87  \
0    21/2”                           2.75 - 3.00\r2.87 - 3.12
1       3”                           3.45 - 3.70\r3.75 - 4.00
2    31/2”                                        3.95 - 4.20
3       4”  4.45 - 4.85\r4.74 - 5.14\r4.95 - 5.35\r5.20 - ...
4       6”  5.95 - 6.35\r6.60 - 7.00\r6.84 - 7.24\r7.06 - ...
5       8”  7.95 - 8.35\r8.60 - 9.00\r9.00 - 9.40\r9.30 - ...
6      10”  9.95 - 10.35\r10.70 - 11.10\r11.04 - 11.44\r11...

        SS1 - 2.63 x length 1\rSS1 - 2.87 x length 1  $91.11\r4#  $124.22\r4#  \
0       SS1 - 3.00 x length 1\rSS1 - 3.12 x length 1   94.70\r4#   129.13\r4#
1       SS1 - 3.70 x length 1\rSS1 - 4.00 x length 1  109.66\r4#   135.53\r5#
2                              SS1 - 4.20 x length 1  115.20\r5#   135.53\r5#
3  SS1 - 4.85 x length\rSS1 - 5.14 x length\rSS1 ...  122.50\r5#   152.86\r5#
4  SS1 - 6.35 x length\rSS1 - 7.00 x length\rSS1 ...  152.48\r6#   182.92\r7#
5  SS1 - 8.35 x length\rSS1 - 9.00 x length\rSS1 ...  179.13\r7#   214.34\r8#
6  SS1-10.35 x length\rSS1-11.10 x length\rSS1-11...  234.98\r9#  285.61\r11#

   $172.85\r5#  $206.65\r5#  $222.51\r8# $251.22\r11#        N/  A  \
0   179.10\r5#   211.48\r6#   229.13\r8#  277.45\r11#         N/ A
1   187.30\r5#   219.49\r6#   247.81\r9#  317.95\r12#        N/  A
2   187.30\r6#   230.71\r7#   258.22\r9#  335.94\r13#  421.91\r15#
3   208.28\r7#   242.81\r8#  269.98\r10#  409.45\r14#  549.27\r16#
4   247.81\r9#  292.07\r10#  322.13\r14#  485.91\r17#  611.47\r21#
5  283.91\r11#  343.99\r12#  393.09\r15#  556.88\r19#  693.35\r24#
6  375.74\r14#  448.13\r16#  514.90\r24#  687.53\r28#  854.45\r32#

            N/A
0           NaN
1          N/ A
2           NaN
3   670.07\r21#
4   796.11\r26#
5   914.11\r30#
6  1,168.9\r42#

In [23]:
for item in df.items():
    print(item)

('7.0N6O - M7..4 6 O.D. SIZE', 0                  7P.I4P0E - S 7IZ.8E0 RANGE
1            2”-21/4” 2.35 - 2.63 2.62 - 2.87
2               21/2” 2.75 - 3.00 2.87 - 3.12
3                  3” 3.45 - 3.70 3.75 - 4.00
4                           31/2” 3.95 - 4.20
5                                 4.45 - 4.85
6                  4” 4.74 - 5.14 4.95 - 5.35
7                                 5.20 - 5.60
8                                 5.95 - 6.35
9                                 6.60 - 7.00
10                             6” 6.84 - 7.24
11                                7.06 - 7.46
12                                7.40 - 7.80
13                                7.95 - 8.35
14                 8” 8.60 - 9.00 9.00 - 9.40
15                                9.30 - 9.70
16                                        NaN
17                               9.95 - 10.35
18                              10.70 - 11.10
19    1,168.9310” 11.04 - 11.44 11.40 - 11.80
20                              11.60 - 12.00
21                              11.85 - 12.25
22                              12.10 - 12.50
23            12” 12.70 - 13.10 13.15 - 13.55
24                              13.60 - 14.00
25                              14.10 - 14.50
Name: 7.0N6O - M7..4 6 O.D. SIZE, dtype: object)
('Unnamed: 1', 0                                   CATALOG NUMBER
1      SS1 - 2.63 x length 1 SS1 - 2.87 x length 1
2      SS1 - 3.00 x length 1 SS1 - 3.12 x length 1
3     SS1 - 3.70 x length 1 S S1 - 4.00 x length 1
4                            SS1 - 4.20 x length 1
5                              SS1 - 4.85 x length
6          SS1 - 5.14 x length SS1 - 5.35 x length
7                              SS1 - 5.60 x length
8                              SS1 - 6.35 x length
9                              SS1 - 7.00 x length
10                             SS1 - 7.24 x length
11                             SS1 - 7.46 x length
12                             SS1 - 7.80 x length
13                             SS1 - 8.35 x length
14         SS1 - 9.00 x length SS1 - 9.40 x length
15                             SS1 - 9.70 x length
16                                             NaN
17                              SS1-10.35 x length
18                              SS1-11.10 x length
19           SS1-11.44 x length SS1-11.80 x length
20                              SS1-12.00 x length
21                              SS1-12.25 x length
22                              SS1-12.50 x length
23           SS1-13.10 x length SS1-13.55 x length
24                              SS1-14.00 x length
25                              SS1-14.50 x length
Name: Unnamed: 1, dtype: object)
('Unnamed: 2', 0             6"
1      $91.11 4#
2       94.70 4#
3      109.66 4#
4      115.20 5#
5            NaN
6      122.50 5#
7            NaN
8            NaN
9            NaN
10        152.48
11            6#
12           NaN
13           NaN
14     179.13 7#
15           NaN
16           NaN
17           NaN
18           NaN
19     234.98 9#
20           NaN
21           NaN
22           NaN
23    274.28 11#
24           NaN
25           NaN
Name: Unnamed: 2, dtype: object)
('Unnamed: 3', 0             8"
1     $124.22 4#
2      129.13 4#
3      135.53 5#
4      135.53 5#
5            NaN
6      152.86 5#
7            NaN
8            NaN
9            NaN
10        182.92
11            7#
12           NaN
13           NaN
14     214.34 8#
15           NaN
16           NaN
17           NaN
18           NaN
19    285.61 11#
20           NaN
21           NaN
22           NaN
23    324.27 13#
24           NaN
25           NaN
Name: Unnamed: 3, dtype: object)
('LELNENGGTHTH / / W  WEIEGIGHHTT', 0                                  10" 12" 16" 20"
1     $172.85 5# $206.65 5# $222.51 8# $251.22 11#
2          179.10 5# 211.48 6# 229.13 8# 277.4511#
3         187.30 5# 219.49 6# 247.81 9# 317.95 12#
4         187.30 6# 230.71 7# 258.22 9# 335.94 13#
5                                              NaN
6        208.28 7# 242.81 8# 269.98 10# 409.45 14#
7                                              NaN
8                                              NaN
9                                              NaN
10                     247.81 292.07 322.13 485.91
11                                  9# 10# 14# 17#
12                                             NaN
13                                             NaN
14     283.91 11# 343.99 12# 393.09 15# 556.88 19#
15                                             NaN
16                                             NaN
17                                             NaN
18                                             NaN
19     375.74 14# 448.13 16# 514.90 24# 687.53 28#
20                                             NaN
21                                             NaN
22                                             NaN
23     430.03 16# 519.35 18# 587.27 27# 815.56 30#
24                                             NaN
25                                             NaN
Name: LELNENGGTHTH / / W  WEIEGIGHHTT, dtype: object)
('Unnamed: 5', 0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
Name: Unnamed: 5, dtype: float64)
('Unnamed: 6', 0            24"
1           N/ A
2           N/ A
3           N/ A
4      421.9115#
5            NaN
6     549.27 16#
7            NaN
8            NaN
9            NaN
10        611.47
11           21#
12           NaN
13           NaN
14    693.35 24#
15           NaN
16           NaN
17           NaN
18           NaN
19    854.45 32#
20           NaN
21           NaN
22           NaN
23    968.60 36#
24           NaN
25           NaN
Name: Unnamed: 6, dtype: object)
('Unnamed: 7', 0             30"
1             NaN
2             NaN
3             NaN
4             NaN
5             NaN
6       670.0721#
7             NaN
8             NaN
9             NaN
10         796.11
11            26#
12            NaN
13            NaN
14      914.1130#
15            NaN
16            NaN
17            NaN
18            NaN
19            42#
20            NaN
21            NaN
22            NaN
23    1,382.5146#
24            NaN
25            NaN
Name: Unnamed: 7, dtype: object)