# PDF Reader

In [29]:
#imports
from __future__ import division
import math
import pandas as pd
import tabula

In [30]:
path = './data/dataTable.pdf'
df = tabula.read_pdf(path,  spreadsheet=True, area=[292, 35, 291+362, 519+35],pandas_options={'header': None})
print(df)

         0                                                  1   \
0  2”-21/4”                           2.35 - 2.63\r2.62 - 2.87
1     21/2”                           2.75 - 3.00\r2.87 - 3.12
2        3”                           3.45 - 3.70\r3.75 - 4.00
3     31/2”                                        3.95 - 4.20
4        4”  4.45 - 4.85\r4.74 - 5.14\r4.95 - 5.35\r5.20 - ...
5        6”  5.95 - 6.35\r6.60 - 7.00\r6.84 - 7.24\r7.06 - ...
6        8”  7.95 - 8.35\r8.60 - 9.00\r9.00 - 9.40\r9.30 - ...
7       10”  9.95 - 10.35\r10.70 - 11.10\r11.04 - 11.44\r11...

                                                  2           3            4   \
0       SS1 - 2.63 x length 1\rSS1 - 2.87 x length 1  $91.11\r4#  $124.22\r4#
1       SS1 - 3.00 x length 1\rSS1 - 3.12 x length 1   94.70\r4#   129.13\r4#
2       SS1 - 3.70 x length 1\rSS1 - 4.00 x length 1  109.66\r4#   135.53\r5#
3                              SS1 - 4.20 x length 1  115.20\r5#   135.53\r5#
4  SS1 - 4.85 x length\rSS1 - 5.14 x length\rSS1 ...  122.50\r5#   152.86\r5#
5  SS1 - 6.35 x length\rSS1 - 7.00 x length\rSS1 ...  152.48\r6#   182.92\r7#
6  SS1 - 8.35 x length\rSS1 - 9.00 x length\rSS1 ...  179.13\r7#   214.34\r8#
7  SS1-10.35 x length\rSS1-11.10 x length\rSS1-11...  234.98\r9#  285.61\r11#

            5            6            7             8            9   \
0  $172.85\r5#  $206.65\r5#  $222.51\r8#  $251.22\r11#        N/  A
1   179.10\r5#   211.48\r6#   229.13\r8#   277.45\r11#         N/ A
2   187.30\r5#   219.49\r6#   247.81\r9#   317.95\r12#        N/  A
3   187.30\r6#   230.71\r7#   258.22\r9#   335.94\r13#  421.91\r15#
4   208.28\r7#   242.81\r8#  269.98\r10#   409.45\r14#  549.27\r16#
5   247.81\r9#  292.07\r10#  322.13\r14#   485.91\r17#  611.47\r21#
6  283.91\r11#  343.99\r12#  393.09\r15#   556.88\r19#  693.35\r24#
7  375.74\r14#  448.13\r16#  514.90\r24#   687.53\r28#  854.45\r32#

             10
0           NaN
1           NaN
2          N/ A
3           NaN
4   670.07\r21#
5   796.11\r26#
6   914.11\r30#
7  1,168.9\r42#